body{
    background-image: url("../img/calculator.jpeg");
    /*opacity: .8;*/


}
.container{

    border-style: solid;
    border-color: chartreuse;
    border-width: thick;
    opacity: 1.0;
    width: 60vw;
    padding: 2%;
    margin-top: 25%;
    background-blend-mode: screen;
    background-color: aliceblue;
    background-image: url("../img/clacback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}
.jumbotron {
    background-color: transparent;
    padding: .5px;
    margin-bottom: .1px;
}
#letters{
    font-family: "Aku & Kamu";
    background-color: black;
    background-repeat: no-repeat;
    font-size: 7.5em;
    font-weight: bolder;
    background-image: url("../img/multicolorcosmo.jpeg");
    background-size: 720px 200px;
    background-blend-mode: screen;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;


    
}
@media (min-width: 1100px) {
    .jumbotron {
        font-size: 1em;
        /*background-size: 50em  950em;*/
    }
}

@media (min-width: 100px) {
        .container {
            font-size: 2em;
        }
    }
@media (max-width: 1000px) {
    .container {
        font-size: 75%;
        background-size: 250em  150em;

    }
}
@media (max-width: 1100px) {
    .jumbotron {
        font-size: 1em;
        /*background-size: 850px 300px;*/
    }
}
@media(max-width: 1100px){
    #letters{
        background-size: 480px 87px;
    }
}
@media(min-width: 1100px){
    #letters{
        background-size: 980px 520px;
    }
}

.gif {
        height: 300px !important;
        background-size: contain;
        text-align: center;
        background-image: url("../img/mindblown.gif");
        background-repeat: no-repeat;
        background-position: center;
        /*background-size: 2px;*/
    }

    #leftDisplay {
        width: 18%;
        margin: 5%;
        opacity: .1;
        color: white;
        background-color: #072950;
    }

    #centerDisplay {
        width: 18%;
        margin: 5%;
        opacity: .1;
        color: white;
        background-color: #072950;
    }

    #rightDisplay {
        width: 18%;
        margin: 5%;
        opacity: .1;
        color: white;
        background-color: #072950;
    }

    .btn {
        width: 18%;
        color: black;
        text-align: right;
        font-family: "Aku & Kamu";

    }
    #equal{
        width: 51%;
        height:20%;
        opacity: .601;
        text-align: center;
        font-size: medium;
        font-family: "Aku & Kamu";

    }
    #SC{
        width: 16.84%;
        font-family: "Aku & Kamu";
    }

    .operator {
        font-family: "Aku & Kamu";
        width: 18%;
        opacity: .601;
        font-weight: bold;
        color: whitesmoke;
        background-color: #072950;
        /*background-image: url("../img/pizzabama.gif");*/
        /*background-blend-mode: screen;*/
        /*background-size: 28px;*/

    }
