 html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: medium;
    background-image: url("../img/cloudy_trees.jpeg");
    background-color: black;
    position:absolute;
    z-index:13;
     background-size:cover;
     background-position:center center;

}
 .title {
     text-align: center;
     padding-bottom: 1%;
     color: #fff;
     font-family: Arvo;
     font-weight: bold;
     letter-spacing: 0.2em;
     transform: scaleY(0.7);
     -webkit-transform: scaleY(0.7);
     -moz-transform: scaleY(0.7);
     display: block;
     font-size: 500%;
 }

p {
    margin:0 0 52px 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.map {
    height:600px;
    border:16px solid #fff;
}
.map-legend {
    text-align:center;
}

.location{
    background-size:cover;
    background-position:center center;
    position:relative;
    color:white;
}
.location-1 {
    background-color:#554738;
    background-image:url( '../img/cayman.jpeg');
}
.location-2 {
    background-color:#383838;
    background-image:url( '../img/micocina.jpg');
    background-blend-mode: screen;
}
.location-3 {
    background-color:#383838;
    background-image:url( '../img/wild-ginger.jpeg');
}
.location::after {
    content:"";
    background-color:inherit;
    opacity:.65;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.location--inner {
    position:relative;
    z-index:.5;
}
/*@media (max-width: 500px){*/
    /*.title{*/
        /*font-size: 250%;*/
    /*}*/
/*}*/
@media screen and (min-width: 1024px) {
    .map, .map-legend {
        height:100%;
    }
    .desk-three-foods{
        float: left;
        width:75%;
    }
    .desk-one-food {
        width:25%;
    }
    .map-legend, .location {
        display:flex;
        flex-direction:column;
    }
    .location {
        min-height:50%;
        justify-content:center;
        align-items:center
    }
}
.location img {
    display:inline-block;
    -webkit-transform:scale(2);
    transform:scale(2);
}

